body {
  margin: 0;
  padding: 0;
  text-align: center;
	background: #9DB6CF;
}

#header {
  background: #C2E1FF;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

#main_container {
	width: 1150px;
	margin: 0 auto;
  text-align: left;
	background-color: #C2E1FF;
}

#content_container {
	width: 100%;
  /*background-color: #C2E1FF;*/
}

#left-panel {
  width: 25%;
  height: 100%;
  background: #C2E1FF;
  float: left;
  text-align: center;
}

#left-panel table {
  margin: 20px;
  margin-left: 40px;
}

#right-panel {
  width: 75%;
  height: 100%;
  background: #C2E1FF;
  float: right;
}

#display-panel table {
  margin: 20px;
  margin-right: 40px;
}

#display-panel-controls {
  padding-right: 40px;
  width: 75%;
	float: right;
}
#delete_report_btn {
	float: right;
}

#form_table {

}

.displayed_table {
	border: 2px solid grey;
	padding: 2px;
  background: white;
}

.displayed_table_element {
	border: 2px solid grey;
	padding: 5px;
}

h1, h2, h3, h4, h5, p, th {
  font-family: sans-serif;
}
